.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#page-wrap {
  position: relative;
  padding: 2rem 10vw;
  margin-top: 15rem;
}

/*** canvas ***/

/* our canvas will be a bit taller than our window to avoid "glitched" top and bottom edges */
#canvas {
  position:fixed;
  top: -10vh;
  right: 0;
  left: 0;
  height: 120vh;
  z-index: -1;
}

/*** content ***/

#content {
  position: relative;
  z-index: 15;
  //   max-width: 1520px;
  width: 100%;
  margin: 0 auto;
  //   padding: 40px 0 0 0;
}

#planes {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;

  @media screen and (max-width: 960px) {
    grid-template-columns: initial !important;
    grid-template-rows: repeat(auto, 1fr);
  }
}

.plane-wrapper {
  position: relative;
}

.plane {
  height: 40rem;

  @media screen and (max-width: 1250px) {
    height: 30rem;
  }
}

.plane-inner {
  .displacement_title {
    margin-top: 1.2rem;
    color: var(--white_1);
    font-size: $f-size-p1;
    width: 100%;
    max-width: 22rem;
  }
}

.plane img {
  display: none;
}

