:root {
    //*===COLIRS
    --primary-blue:#0044F8;
    --primary-white:#FFFFFF;


    //*===SIZES
    --primary-padding:0vw 14vw;
    --medium-screen-padding:0vw 7vw;
    --small-screen-padding:0vw 4vw;
}

$medium-screen:1024px;
$small-screen:768px;