.icons_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    height: 80vh;

    canvas {
        width: 300px !important;
        height: 300px !important;
    }
}