

.icons_container {
  height: 100%;

  .dark-container {
    @include flex(space-around, center, row);
    background: #0a0a0c;
    width: 100%;
    height: 100vh;
    position: relative;


    @media only screen and (max-width: 960px) {
        height: initial !important;
    }



    .icon_container {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 960px) {
        grid-template-columns: initial !important;
        grid-template-rows: auto 1fr;
      }


      @media only screen and (max-width: 550px) {
        grid-template-rows: 1fr 1fr;
    }

    }



    .main_heading {
      padding: 0 10vw;

      h1 {
        font-family: "Satoshi";
        font-size: $f-size-h1;
        font-weight: $f-weight-black;
        margin-bottom: 2rem;
      }

      p {
        font-family: "Heebo";
        font-size: $f-size-p1;
        font-weight: $f-weight-regular;
      }
    }

  }



  canvas {
    width:100% !important;
    height: 100% !important;


    @media only screen and (max-width: 550px) {
        height: 50vh !important;
    }
  }
}
