.icons_container {
  height: 100%;
  //   padding: 1rem;

  .dark-container {
    @include flex(space-around, center, row);
    background: #0a0a0c;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 1rem;

    // @media only screen and (max-width: 1260px) {
    //     display: grid !important;
    //     grid-template-columns: repeat(2,1fr);
    // }

    // @media only screen and (max-width: 768px) {
    //     grid-template-columns: 1fr;
    // }

    .icon_container {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;

    //   @media only screen and (max-width: 1260px) {
    //     max-width: initial !important;
    //     justify-content: flex-end;
    //     height: initial !important;
    //   }

    //   @media only screen and (max-width: 768px) {
    //     &:not(:first-child) {
    //       margin-top: 2rem !important;
    //     }
    //   }


    }

    // .icon {
    //   @media only screen and (max-width: 1360px) {
    //     left: -1%;
    //   }

    //   @media only screen and (max-width: 1260px) {
    //     position: relative !important;
    //     top: initial !important;
    //     transform: initial !important;
    //     left: -5% !important;
    //   }

    //   @media only screen and (max-width: 768px) {
    //     left: initial !important;
    //   }
    // }

    .main_heading {
      padding: 0 10vw;

      h1 {
        font-family: "Satoshi";
        font-size: $f-size-h1;
        font-weight: $f-weight-black;
        margin-bottom: 2rem;
      }

      p {
        font-family: "Heebo";
        font-size: $f-size-p1;
        font-weight: $f-weight-regular;
      }
    }

    // .heading {

    //   @media only screen and (max-width: 1260px) {
    //     max-width: 20rem;
    //   }

    //   @media only screen and (max-width: 768px) {
    //     max-width: 18rem;
    //   }
    // }
  }

  canvas {
    width: 50vw !important;
    height: 100vh !important;
    // @include background-image("/images/download.png",contain,center);

    @media only screen and (max-width: 1400px) {
      width: 260px !important;
      height: 260px !important;
    }

    @media only screen and (max-width: 450px) {
      width: 180px !important;
      height: 180px !important;
    }
  }
}
